<section class="aboutus wrapper2">
<h1>About us</h1>
<p>Auguth Research Foundation is a non-profit organization based in India, committed to transparent, collaborative research. Our team of experts pioneers solutions and explores opportunities in blockchain for societal advancement.</p>
<img class="abtusimg" src="{{site.baseurl}}/assets/images/aboutus.jpeg" alt="">
<div class="mvcontainer ">
    <div class="mvbox">
        <img class="mvicons" src="{{site.baseurl}}/assets/images/group.png" alt="">
        <h3>Our mission</h3>
        <p>Auguth Research Foundation advances blockchain technology and decentralized systems to solve complex challenges and foster positive social impact.</p>
    </div>
    <div class="mvbox">
        <img class="mvicons" src="{{site.baseurl}}/assets/images/vision.png" alt="">
        <h3>Our Vision</h3>
        <p>We envision a future where blockchain empowers communities globally, driving innovation and creating transparency and equality.</p>
    </div>
</div>
</section>
