<section class="aboutus wrapper2">
<h1>About us</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
<img class="abtusimg" src="{{site.baseurl}}/assets/images/sample.jpeg" alt="">
<div class="mvcontainer ">
    <div class="mvbox">
        <img class="mvicons" src="{{site.baseurl}}/assets/images/group.png" alt="">
        <h3>Our mission</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    </div>
    <div class="mvbox">
        <img class="mvicons" src="{{site.baseurl}}/assets/images/vision.png" alt="">
        <h3>Our Vision</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    </div>
</div>
</section>
